.btn {
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding:var(--btn-padding);
    border-radius: var(--btn-border-radius);
    cursor: pointer;

}
.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}